@CHARSET "ISO-8859-1";
/** Scoa */

label{
	display:block; /** inputs abaixo dos labels */
	/*float:left;*/  /** inputs a direita dos labels */
	width:150px;
	padding:4px;	
}

#container_elemento
{
	float:left;
	/*display:block;*/
	padding-left:6px;
	padding-right:6px;
}
/** Fim Scoa */

#principal
{	
	background: #ffffff;
	color: #4682B4;
	width: 98%;
	font-size: 12px;
}

input[type=text], input[type=password], textarea, select {
      padding: 3px;
      margin: 3px 0 20px 0;
      background: #fff;
      width: 220px;
      font-size: 11px;
      color: #4682B4;
      border: 1px #ddd solid;

      /* -- CSS3 Shadow - create a shadow around each input element -- */
      -webkit-box-shadow: 0px 0px 4px #aaa;
      -moz-box-shadow: 0px 0px 4px #aaa;
      box-shadow: 0px 0px 4px #aaa;

      /* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
       -webkit-transition: background 0.3s linear;
}

input[type=button], input[type=submit]{
	border: 1px #ddd solid;
	padding: 3px;
       margin: 3px 0 20px 0;
	background: #4B6C9E;
	width: 80px;
	color: #FFFFFF;
}

input[type=button]:hover, input[type=submit]:hover{
	background: #eee;
	color: #555555;
}

input[type=text]:hover, textarea:hover
{
    background: #eee;
}
   
#principal
{
	width:99%;           
	display:table;
	padding:4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #555;
}
       
#titulo{
       text-align: left;
       padding: 4px;
       background: #4B6C9E;
       color: #FFFFFF;
       width: 98%;
       height: 40px;
       font-family: arial;
       font-size: 18px;
}

#coluna{
	float:left;
	width: 40%;
}
	
#botoes{
	display:block;
	width: 600px;
}